{{define "yield"}}
    <h1>Reach out to me</h1>
    <p>
        Contact me via email:
        <a href="mailto:adamwoolhether@gmail.com">
            adamwoolhether@gmail.com
        </a>
    </p>

{{end}}